/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}*/

header {
    background-color: #343a40
}
footer {
    background-color: #343a40;
    width:100%;
    bottom: 0px;
    position:fixed;
}
.nav-color {
    color: rgba(255,255,255,0.5)
}
ul {
    list-style-type: upper-alpha
}
.navbar {
    height: 45px;
}
.card-subtitle{
    color: #101214;
}