@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WEB_053502_Raniuk.Entities
@model ListViewModel<WEB_053502_Raniuk.Entities.Film>

@{
    ViewData["Title"] = "Меню";
}
@{ 
    
    var categories = ViewData["Categories"] as IEnumerable<Category>;
    int currentGroup = (int)ViewData["CurrentGroup"]!;
   
    var text = currentGroup!=0
        ? categories
            .FirstOrDefault(g => g.Id == currentGroup)?
            .CategoryName
        : "All";    
}

<div class="row">
    <div class="col-2">
        <div class="dropdown mt-2">
            <a class="btn btn-secondary dropdown-toggle" 
               asp-action="Index" asp-controller="Product"
               role="button" 
               id="dropdownMenuLink" 
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @text
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                @foreach (var item in categories)
                {
                    <a class="dropdown-item"
                       asp-action="Index" 
                       asp-controller="Product"
                       asp-route-category="@item.Id"
                       asp-route-pageNo="1"
                       >@item.CategoryName</a>
                }               
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="card-group" id="list">
            @foreach (var item in Model)
            {
                <partial name="_ListItemPartial" model="@item" />
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-2">
      
    </div>
</div>